<div class="container-fluid center" [class.errorState]="vehicleSession.overPriceOrWeight">
    <h2>Welcome {{vehicleSession.username}} to your awesome Roadtrip!</h2>
    <div class="row">
        <div class="col-xs-6" >
            <h3 *ngIf="vehicle">You have ${{vehicleSession.money}} and {{vehicleSession.weight}} LBS</h3>
            <h4>Select What You Want To Bring in your
                <select name="vehicle" [(ngModel)]="vehicleSession.vehicle">
                    <option disabled selected>Select Vehicle</option>
                    <option value='JEEP XJ'>JEEP XJ</option>
                    <option value='Pickle'>Pickle</option>
                    <option value='Mini-Coupe'>Mini-Coupe</option>
                </select>
            </h4>
        </div>
        <div *ngIf="vehicleSession.vehicle" class="col-xs-6">
            <h3>Your {{vehicleSession.vehicle}}<span *ngIf="vehicleSession.itemsInV.length"> has</span><span *ngIf="vehicleSession.itemsInV.length === 0"> is empty</span></h3>
            <ng-container *ngIf="vehicleSession.itemsInV">
                <h4 *ngFor="let itemName of vehicleSession.itemsInV" >{{itemName}}</h4>
            </ng-container>
        </div>
    </div>
    <div class="row">
        <vehicle-item></vehicle-item>
    </div>
</div>

