<div class="container-fluid center" [class.errorState]="overPriceOrWeight">
    <h2>Welcome {{name}} to your awesome Roadtrip!</h2>
    <div class="row">
        <div class="col-xs-6" >
            <h3>You have ${{money}} and {{weight}} LBS</h3>
            <h4>Select What You Want To Bring in your
                <select name="vehicle">
                    <option disabled selected>Select Vehicle</option>
                    <option value='JEEP XJ'>JEEP XJ</option>
                    <option value='Pickle'>Pickle</option>
                    <option value='Mini-Coupe'>Mini-Coupe</option>
                </select>
            </h4>
        </div>
        <div class="col-xs-6">
            <h3>Your {{vehicle}} is carring</h3>
            <!-- <h4 *ngIf="itemsInV" *ngFor="let itemName of itemsInV">{{itemName}}</h4> -->
        </div>
    </div>
    <div class="row">
        <!-- <vehicle-item *ngFor="let item of items" vehicle=vehicle nothingToRemove=nothingToRemove imageLink=item.image name=item.name money=item.munnies weight=item.weight></vehicle-item> -->
    </div>
</div>

